<div class="card-btn_add">
    <button mat-raised-button color="primary" (click)="openDialog()">Добавить</button>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of pageNews">

      <mat-card class="card-item mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ item?.title.substring(0, 39)+'...' }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ item?.titleImageUrl }}" alt="{{ item?.title }}">
        <mat-card-content>
          <p>
            {{ item?.description.substring(0, 80)+'...' }}
          </p>
        </mat-card-content>
        <div class="card-item-category">#{{ item?.categoryType }}</div>
        <div class="card-item-data">{{ item?.publishedDate | date:'MMM d, y, h:mm:ss a' }}</div>
        <div class="card-item-btn_detail" (click)="selectCart(item)">
          <button mat-stroked-button color="primary">Подробнее</button>
        </div>
      </mat-card>

    </div>
  </div>
</div>
